.container {
  display: flex;
  justify-content: center;
}

.form {
  width: 80%;
}

.grid-container {
  display: flex;
  width: 100%;
}

.half {
  flex: 1;
}

.half-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.label {
  margin-bottom: 5px;
}

.textfield {
  width: 100%;
}

.button {
  margin-top: 10px;
}

.card-group {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, auto); /* 4 columnas de ancho igual */
  gap: 0; /* Sin espacio entre las tarjetas */
  width: "12.5rem";
}

/* Estilos para cada tarjeta */
