.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}

.cards {
  /* Otros estilos de la tarjeta */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Transición suave para el efecto hover */
}

.cards:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
}
