.footer-container {
    background-color: #00B5AD;
    color: #000;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    height: 80%; /* Ajusta el tamaño del logo según sea necesario */
}

.copyright {
    margin-left: 10px;
}