@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

.MuiBox-root {
  padding-left: 0px; /* Ejemplo de margen interior a la izquierda */
  padding-right: 0px; /* Ejemplo de margen interior a la derecha */
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
